@mixin respond-to($media) {
	@if $media== "phone-375" {
		@media (max-width: 375px) {
			@content;
		}
	} @else if $media== "phone-768" {
		@media (max-width: 376px) {
			@content;
		}
	} @else if $media== "laptop" {
		@media (max-width: 1024px) {
			@content;
		}
	}
}

@mixin click() {
	position: relative;
	top: 0.1rem;
}

@mixin flex-row($justify: space-between, $align: center) {
	display: flex;
	justify-content: $justify;
	align-items: $align;
}

@mixin flex-row-center() {
	display: flex;
	align-items: center;
}

@mixin flex-column() {
	display: flex;
	flex-direction: column;
}

@mixin flex-column-center() {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@mixin flex-wrap() {
	display: flex;
	flex-wrap: wrap;
}

//* 375px adaptive
// @media screen and (max-width: 375px) {
// 	@mixin btnStyle($type) {
// 		padding: 8px 24px;
// 		font-size: $font-size-3s;
// 		line-height: 2rem;
// 		gap: 8px;
// 	}
// }
